@import "tailwindcss";

@theme {
  --font-serif: "Georgia", serif;
  --color-brand-primary: #4F46E5;
  --color-brand-secondary: #10B981;
  --color-brand-accent: #F59E0B;
  --color-brand-bg: #F0F2F5;
}

body {
  background-color: var(--color-brand-bg);
  color: #1E293B;
}
